# Виртуальное окружение
   venv/
   .venv/

   # Директории Python
   __pycache__/
   *.pyc

   # Файлы IDE/редакторов
   .idea/
   .vscode/

   # Файлы баз данных SQLite (если используются)
   db.sqlite3

   # Файлы конфигурации
   .env
   *.env

   # Логи
   *.log
